*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav-header{
    text-decoration: none;
    
}
header img{
    height: 50px;
    width: 200px;
}
header{
    background-color: #2a363b;
}

